.portfolio {
	&__filter {
		column-gap: 8px;
		row-gap: 15px;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 40px;
		
		@media screen and (min-width: $tablet) {
			justify-content: center;
			margin-bottom: 30px;
		}
		@media screen and (min-width: $desctop) {
			margin-bottom: 50px;
		}
	}
	&__list {
		flex-wrap: wrap;
		gap: var(--gap-distance);
	}
	&__card {
		flex-basis: 100%;

		@media screen and (min-width: $tablet) {
			flex-basis: calc((100% - var(--gap-distance)) / var(--portfolio-card-tablet-items));
		}
		@media screen and (min-width: $desctop) {
			flex-basis: calc(
				(100% - var(--gap-distance) * (var(--portfolio-card-desctop-items) - 1)) /
					var(--portfolio-card-desctop-items)
			);
		}
	}
}
